@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2f2f2f;
    font-family: 'Poppins', sans-serif;
}

.box_div{
    
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.output_div{
    
    height: 100px;
    width: 150px;
    background: blue;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 19px #000000;
}

.slider_div{
    
    height: 250px;
    width: 300px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
}

input[type="range"] {
    margin-left: 30px;
    margin-top: 50px;
    width: 100px;
    position: relative;
    top: 25px;
}

#r5{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: 0;
}

.shadow_css{
    position: absolute;
    bottom: 0;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    white-space: nowrap;
    padding-left: 10px;
    font-size: 13px;
    background: #d3d3d3;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
    text-align: center;
}
.color_picker::-webkit-color-swatch-wrapper,#color_picker2::-webkit-color-swatch-wrapper{
    padding: 0;
}

.color_picker::-webkit-color-swatch,#color_picker2::-webkit-color-swatch{
    border: none;
    border-radius: 100%;
}

.color_picker,#color_picker2{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    outline: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    margin: 10px;
}

#color_picker2{
    float: right;

}

label{
    position: absolute;
    font-size: 12px;
    margin-top: 50px;
    margin-left: -80px;
    text-align: center;
}

#opacity_label{
    position: relative;
    top: 63px;
    left: -65px;
}

#h_label,#v_label{
    margin-left: -60px;
}
#blur_label{
    margin-left: -65px;
}

#inset{
    position: absolute;
    left: 45px;
    bottom: 40px;
    transform: translate(-50%,-50%);
}

#inset::after{
    content: "inset";
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
}